---
layout: page
title: Other things
---
<ul>
    <li><a href="https://lichess.org/53UZjvz9/black">I hold the world record for the worlds fastest lost in chess, at zero seconds, two moves</a></li>
</ul>

