<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
          <img src="{{site.logo_location}}"> <span class="name-holder">{{ site.title }}</span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar">

        <ul id="main-menu" class="nav navbar-nav navbar-right">

          {% for menuItem in site.data.menu.mainmenu %}
            <li><a href="{{ menuItem[1].url | prepend: site.baseurl }}">
                <i class="fa {{menuItem[1].icon_class}}"></i> {{menuItem[1].text}}</a>
            </li>
          {% endfor %}

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

</header>
